@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
  --font-nunito: "Nunito", ui-sans-serif, system-ui, sans-serif;

  --color-Sky: #6ed0f0;
  --color-RoyalBlue: #01b0f1;
  --color-Blue: #2b7fff;
  --color-LightSky: #c1ddef;
  --color-Rose: #df7d84;
  --color-Red: #ff5a5a;
  --color-Violet: #cd7eee;
  --color-Green: #2ecc71;
  --color-Pink: #ff66b2;
  --color-GreenAccent: #9acd32;
  --color-Orange: #ff9f43;
  --color-Yellow: #f1c40f;

  --color-Red-2: rgb(223 125 132 / 20%);
  --color-Cyan-2: rgb(193 221 239 / 20%);
  --color-Orange-2: rgb(226 205 122 / 20%);
  --color-Blue-2: rgb(47 110 187 / 20%);
  --color-Green-2: rgb(164 201 160 / 20%);

  --shadow-card: 0 15px 30px -11px rgb(131 166 210 / 50%);

 --font-size-preset-1: clamp(2.25rem, 1.75rem + 2.5vw, 4rem);
--font-size-preset-2: clamp(1.875rem, 1.625rem + 1.25vw, 2.5rem);
--font-size-preset-3: clamp(1.5rem, 1.3rem + 1vw, 2rem);
--font-size-preset-4: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
--font-size-preset-5: clamp(0.875rem, 0.825rem + 0.25vw, 1rem);
--font-size-preset-6: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);

--line-height-preset-1: 1.05;
--line-height-preset-2: 1.15;
--line-height-preset-3: 1.2;
--line-height-preset-4: 1.55;
--line-height-preset-5: 1.5;
--line-height-preset-6: 1.4;
}

@layer base {
  html {
    font-family: var(--font-nunito);
  }

  body,
  button,
  input,
  textarea,
  select {
    font-family: inherit;
  }
}

@layer utilities {
  .text-preset-1 {
    font-size: var(--font-size-preset-1);
    line-height: var(--line-height-preset-1);
  }

  .text-preset-2 {
    font-size: var(--font-size-preset-2);
    line-height: var(--line-height-preset-2);
  }

  .text-preset-3 {
    font-size: var(--font-size-preset-3);
    line-height: var(--line-height-preset-3);
  }

  .text-preset-4 {
    font-size: var(--font-size-preset-4);
    line-height: var(--line-height-preset-4);
  }

  .text-preset-5 {
    font-size: var(--font-size-preset-5);
    line-height: var(--line-height-preset-5);
  }

  .text-preset-6 {
    font-size: var(--font-size-preset-6);
    line-height: var(--line-height-preset-6);
  }
}
